@model PagedList.IPagedList<ERP_testTask.Models.Movie>
@using PagedList.Mvc
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Каталог фильмов";
}

<h2>Каталог фильмов</h2>

<p>
    @Html.ActionLink("Добавить фильм", "Create")
</p>

<table class="table">
    <tr>
        <th>
            Название
        </th>
        <th>
            Год выхода
        </th>
        <th>
            Режиссёр
        </th>
        @if (User.Identity.IsAuthenticated)
        {
            <th>Редактировать</th>
        }
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            <a href="/Movies/Details/@Html.DisplayFor(modelItem => item.Id)">@Html.DisplayFor(modelItem => item.Name)</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Director)
        </td>
        @if (User.Identity.IsAuthenticated)
        {
            <td>
                @if (User.Identity.GetUserId() == item.UserId)
                {
                    @Html.ActionLink("Редактировать", "Edit", new { id = item.Id })
                }
            </td>
        }
    </tr>
    }

</table>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
